div.letra-on {
     height: 20px;
     width: 20px;
     padding: 0 0;
     margin: 0 0;
     animation: blinker 0.3s;
}

div.letra-off {
     height: 20px;
     width: 20px;
     padding: 0 0;
     margin: 0 0;
}

div.caja {
     height: 20px;
     width: 40px;
     padding: 0 0;
     margin: 0 0;
     animation-duration: 5s;
}

div.caja-1 {
     animation: blinker1  linear infinite;
     animation-duration: 5s;

}

div.caja-2 {
     animation: blinker2  linear infinite;
     animation-duration: 5s;
}

div.caja-3 {
     animation: blinker3 5s linear infinite;
     animation-duration: 5s;
}

div.caja-4 {
     animation: blinker4 5s linear infinite;
     animation-duration: 5s;

}

div.caja-5 {
     animation: blinker5 5s linear infinite;
     animation-duration: 5s;

}

div.caja-6 {
     animation: blinker6 5s linear infinite;
     animation-duration: 5s;

}

div.caja-7 {
     animation: blinker7 5s linear infinite;
     animation-duration: 5s;
}

div.caja-8 {
     animation: blinker8 5s linear infinite;
     animation-duration: 5s;
}

div.caja-9 {
     animation: blinker9 5s linear infinite;
     animation-duration: 5s;
}

div.caja-10 {
     animation: blinker10 5s linear infinite;
     animation-duration: 5s;
}

div.caja-11 {
     animation: blinker11 5s linear infinite;
     animation-duration: 5s;
}

div.caja-12 {
     animation: blinker12 10s linear infinite;
     animation-duration: 5s;
}

div.caja-13 {
     animation: blinker13 10s linear infinite;
     animation-duration: 5s;
}

div.caja-14 {
     animation: blinker14 10s linear infinite;
     animation-duration: 5s;
}

div.caja-15 {
     animation: blinker15 10s linear infinite;
     animation-duration: 5s;
}

div.caja-16 {
     animation: blinker16 10s linear infinite;
     animation-duration: 5s;
}

@keyframes blinker {
     0% {
          background-color: #ff0000;
     }
     24% {
          background-color: #ff0000;
     }
     25% {
          background-color: #000000;
     }
     49% {
          background-color: #000000;
     }
     50% {
          background-color: #0000ff;
     }
     74% {
          background-color: #0000ff;
     }
     75% {
          background-color: #00ff00;
     }
     99% {
          background-color: #00ff00;
     }
     100% {
          background-color: #ff0000;
     }
}

@keyframes blinker1 {
     0% {background-color: #000000;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker2 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #000000;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker3 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #000000;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker4 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #000000;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker5 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #000000;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker6 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #000000;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker7 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #000000;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker8 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #000000;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker9 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #000000;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker10 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #000000;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker11 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #000000;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker12 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #000000;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker13 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #000000;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker14 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #000000;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker15 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #000000;}
     99.9984741% { background-color: #ffffff;}
     100% {background-color: #ffffff;}
}

@keyframes blinker16 {
     0% {background-color: #ffffff;}
     50.00076295% {background-color: #ffffff;}
     75.00114443% {background-color: #ffffff;}
     87.50133516% {background-color: #ffffff;}
     93.75143053% {background-color: #ffffff;}
     96.87647822% {background-color: #ffffff;}
     98.43900206% {background-color: #ffffff;}
     99.22026398% {background-color: #ffffff;}
     99.61089494% { background-color: #ffffff;}
     99.80621042% { background-color: #ffffff;}
     99.90386816% { background-color: #ffffff;}
     99.95269703% {background-color: #ffffff;}
     99.97711147% {background-color: #ffffff;}
     99.98931868% {background-color: #ffffff;}
     99.99542229% {background-color: #ffffff;}
     99.9984741% { background-color: #000000;}
     100% {background-color: #ffffff;}
}
