/* The Modal (background) */

.modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     padding-top: 5px;
     /* Location of the box */
     left: 0;
     top: 0;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scroll if needed */
     background-color: rgb(0, 0, 0);
     /* Fallback color */
     background-color: rgba(0, 0, 0, 0.4);
     /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
     position: relative;
     background-color: #fefefe;
     margin: auto;
     padding: 0;
     border: 1px solid #888;
     width: 80%;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     -webkit-animation-name: animatetop;
     -webkit-animation-duration: 0.4s;
     animation-name: animatetop;
     animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
     from {
          top: -300px;
          opacity: 0
     }
     to {
          top: 0;
          opacity: 1
     }
}

@keyframes animatetop {
     from {
          top: -300px;
          opacity: 0
     }
     to {
          top: 0;
          opacity: 1
     }
}


/* The Close Button */

.close {
     color: white;
     float: right;
     font-size: 28px;
     font-weight: bold;
}

.close:hover,
.close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
}

.modal-header {
     padding: 2px 16px;
     background-color: #5cb85c;
     color: white;
}

.modal-body {
     padding: 2px 16px;
}

.modal-footer {
     padding: 2px 16px;
     background-color: #5cb85c;
     color: white;
}

input[type=text],
input[type=number],
input[type=color],
button,
select {
     width: 100%;
     padding: 10px 10px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
}

input[type=color],
select {
     height: 40px;
     padding: 3px 20px;
}

.unoD1 {
     width: 100%;
}

.unoD2 {
     width: 50%;
}

.unoD3 {
     width: 33%;
}

.unoD4 {
     width: 25%;
}

.unoD5 {
     width: 20%;
}

.unoD6 {
     width: 16.66666%;
}

.unoD7 {
     width: 14.28571%;
}

.unoD8 {
     width: 12.5%;
}

.unoD9 {
     width: 11.11111%;
}

.unoD10 {
     width: 10%;
}

.unoD25 {
     width: 4%;
}

.tresD4 {
     width: 75%;
}
