        /* Fuentes */
        
        * {
          font-size: 18px;
          font-family: "Comic Sans MS", cursive, sans-serif
        }
        
        h1 {
          font-size: 300%;
        }
        
        h2 {
          font-size: 200%;
        }
        
        h3 {
          font-size: 120%;
        }
        /* Fin Fuentes */