        /* Navegacion */
        
        header ul {
          position: fixed;
          display: flex;
          width: 90%;
          left: 5%;
          right: 5%;
          z-index: 7000;
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: dimgrey;
        }
        
        header ul {
          top: 0;
        }
        
        header ul li {
          float: left;
        }
        
        header ul li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        header ul li.ancho {
          color: white;
          float: inherit;
          text-align: center;
          padding: 14px;
        }
        
        header ul li a:hover:not(.active) {
          background-color: #111;
        }
        
        header ul li a.activa {
          background-color: blue;
        }
        /*Fin Navegacion*/